services:
    clickhouse:
        image: clickhouse/clickhouse-server:latest
        container_name: clickhouse
        ports:
            - "8123:8123" # HTTP интерфейс
            - "9000:9000" # Native клиент
            - "9009:9009" # Межсерверная репликация
        volumes:
            - clickhouse_data:/var/lib/clickhouse
            - ./clickhouse-config.xml:/etc/clickhouse-server/config.d/custom-config.xml
            - ./clickhouse-users.xml:/etc/clickhouse-server/users.d/custom-users.xml
        environment:
            - CLICKHOUSE_DB=default
            - CLICKHOUSE_USER=admin
            - CLICKHOUSE_PASSWORD=password
            - CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT=1
        ulimits:
            nofile:
                soft: 262144
                hard: 262144
        restart: unless-stopped

volumes:
    clickhouse_data:
